<div class="add_btn">
  <button type="button" (click)="add()" class="btn btn-primary">Add</button>
</div>

<div class="container" *ngIf="form">
  <h2>Form</h2>
  <form #frm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" id="email" placeholder="Enter email"
        name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Title:</label>
      <input type="text" class="form-control" id="title" #title="ngModel" [(ngModel)]="user.title"
        placeholder="Enter title" name="title">
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-default">Submit</button>
  </form>
</div>


<div class="container" *ngIf="table">
  <h2>Table</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let papa of fieldArray;index as i;">
        <td>{{papa.email}}</td>
        <td>{{papa.title}}</td>        
        <td><button type="button" (click)="Edit(papa,i)" class="btn btn-success">Edit</button></td>
        <td><button type="button" (click)="delete(papa)" class="btn btn-danger">Delete</button></td>

      </tr>

    </tbody>
  </table>
</div>